<div class="preview">
  <div class="items">
    <mat-card *ngFor="let cartItem of getCart() | async">
      <div>{{getPreviewText(getCartItemDetails(cartItem.itemId) | async, cartItem.amount)}}</div>
      <button mat-icon-button (click)="removeItemFromCart(cartItem.itemId)">
        <mat-icon class="mat-warn">delete</mat-icon>
      </button>
    </mat-card>
  </div>

  <div class="button">
    <div class="cost">
      <b>Total Cost:</b>
      <b>{{getTotalCost() | async | currency}}</b>
    </div>
    <button mat-raised-button color="accent" [disabled]="getCartItemCount() === 0" [routerLink]="'/user/checkout'">Checkout</button>
  </div>
</div>
