<div class="preview">
  <div class="items">
    <mat-card *ngFor="let item of getCart()">
      <div>{{item.title}} - {{item.price | currency}}</div>
      <button mat-icon-button (click)="removeItemFromCart(item)">
        <mat-icon class="mat-warn">delete</mat-icon>
      </button>
    </mat-card>
  </div>

  <div class="button">
    <div class="cost">
      <b>Total Cost:</b>
      <b>{{getTotalCost() | currency}}</b>
    </div>
    <button mat-raised-button color="accent" [disabled]="getCart().length === 0">Checkout</button>
  </div>
</div>
