<mat-toolbar class="mat-primary">
  <span routerLink="" class="title">Shopping App</span>
  <span class="spacer"></span>
  <button mat-icon-button (click)="openCart = !openCart">
    <mat-icon [matBadge]="getCurrentCartItems()" matBadgeColor="accent">shopping_cart</mat-icon>
  </button>
</mat-toolbar>
<mat-drawer-container>
  <mat-drawer-content>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
  <mat-drawer mode="side" [opened]="openCart" position="end">
    <app-cart-preview></app-cart-preview>
  </mat-drawer>
</mat-drawer-container>
