<div class="container">
  <mat-card *ngFor="let cartItem of cartItems$ | async">
    <div>{{getPreviewText(getCartItemDetails(cartItem.itemId) | async, cartItem.amount)}}</div>
    <button mat-icon-button (click)="removeItemFromCart(cartItem.itemId)">
      <mat-icon class="mat-warn">delete</mat-icon>
    </button>
  </mat-card>
  <div class="cost">
    <b>Total Cost:</b>
    <b>{{totalCost | currency}}</b>
  </div>
  <div class="actions">
    <button mat-raised-button color="primary" [routerLink]="'/'">Continue Shopping</button>
    <button mat-raised-button color="accent" disabled>To Payment</button>
  </div>
</div>
