<div class="container">
  <mat-card *ngFor="let item of cartItems">
    <div>{{item.title}} - {{item.price | currency}}</div>
    <button mat-icon-button (click)="removeItemFromCart(item)">
      <mat-icon class="mat-warn">delete</mat-icon>
    </button>
  </mat-card>
  <div class="cost">
    <b>Total Cost:</b>
    <b>{{cartPrice | currency}}</b>
  </div>
  <div class="actions">
    <button mat-raised-button color="primary" [routerLink]="'/'">Continue Shopping</button>
    <button mat-raised-button color="accent" disabled>To Payment</button>
  </div>
</div>
